

<!--<body class="hold-transition sidebar-mini">-->

<div class="wrapper">
  <!-- Navbar Top -->
  <app-top-bar></app-top-bar>
  <!-- /.navbar Top -->
  <app-left-bar></app-left-bar>
  <!-- Main Sidebar Container -->



  <router-outlet></router-outlet>



  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright © 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.3-pre
    </div>
  </footer>



</div>
<!-- ./wrapper -->
<!--</body>-->
